:root {
    --redButton: #EC1115;
    --redLabel: #F47073;
    --white: #ffffff;
    --redButtonHover:#A60C0E;
    --dark:#343541;
    --whiteInput:#E5E5E5;
    --blueBorder:#2F80ED;
    --grayInput:#F7F7F7;
    --blueInputFocus:rgba(47, 128, 237, 0.1);
    --graySentence:#606277;
    --blackCardShadow:rgba(52, 53, 65, 0.15);
  }
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto ;
    margin-top: 5px;
    padding: 10px;
    text-align: center;
    padding: 25px 48px;
}
span{
    width: 603px;
}
.helper{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 170%;
    letter-spacing: 0.04em;
    color: var(--dark);
    padding:0px;
    text-align: center;
    margin-left: auto;
    margin-right: auto ;

}
input{
    width: 200px;
    border:0px;
    padding: 15px;
    margin: 10px 0;
    background: var(--grayInput);
    border-radius: 8px;
    
}
.formInput{
    display: flex;
    flex-direction: column;
    width: 200px;
    margin-left: auto;
    margin-right: auto ;
    
}
label{    
    color: var(--redLabel);
    width: 43px;
    height: 18px;
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    width: 100%
}
input:hover{
    background: var(--whiteInput);
}
input:focus{
    background: var(--blueInputFocus);
    border: 1px solid var(--blueBorder);
}


.text{
    font-size: 18px;
}
#darkSentence,#graySentence{
    font-family: 'Eczar';
    font-style: normal;
    font-weight: 600;
    font-size: 80px;
    line-height: 102%;
    letter-spacing: -0.01em;
    margin: 0px;
    display: block;
    padding-left: 10px;
    text-align: center;
    margin-left: auto;
    margin-right: auto ;
    
}
#darkSentence{
    color: var(--dark);
    
}
#graySentence{
    color: var(--graySentence);
    padding-bottom: 40px;
}
button{
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.015em;
    line-height: 100%;
    border: 5px;
    width: 228px;
    height: 56px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 40px;
    gap: 10px;
    border-radius: 64px;

}
.nextStep{
    background:var(--redButton) ;
    color: var(--white);
}
.logIn{
    color: var(--redButton);
    background: var(--white);
}
.nextStep:hover{
    color:var(--white) ;
    background: var(--redButtonHover);
}
.nextStep:focus{
    color:var(--white) ;
    background: var(--redButtonHover);
    border: 5px solid var(--redLabel);
}
#homeButton{
    margin: auto;
    display: flex;
    justify-content: center;
}
.buttonDiv{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 16px;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: auto;
    margin-right: auto ;
    width: max-content;
}
.card{
    box-shadow: 0px 4px 22px var(--blackCardShadow);
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 64px;
    gap: 40px;
    width: 600px;
    height: 460px;
    margin-left: auto;
    margin-right: auto ;
    
}
.textHolder{
    margin-left: auto;
    margin-right: auto ;
    width: 603px;
    height: 704px;
    padding: 64px;
}
form{
    margin-left: auto;
    margin-right: auto ;
    
}
a{
    margin-left: auto;
    margin-right: auto ;
    text-decoration: none;
}
#privacyPolicy{
    display: table;
    margin: 0 auto;
    text-align: center;
}

#privacyPolicyLabel{
    color: var(--dark);
}
#privacyPolicyLink{
    
    text-decoration: underline;
}
#passwordButton{
    position: relative;
    top: 38%;
    left: 95%;
    height:20px;
    width: 20px;
    margin-top: -43px;
}
#privacyPolicyCheckbox{
    width:15px
}
#bottomForm{
    margin-bottom: 40px;

}


@media (max-width: 750px) {
    .card{
        box-shadow:none
    }
    #love {
      display: none;
    }
    #logo {
        display: block;
        margin-left: auto;
        margin-right: auto ;
        margin-top:2vh;
        
      }
      p{
        font-size: 40px;
        text-align: center;
    }
    .buttonDiv{
        flex-direction: column-reverse;
        
    }
    #darkSentence,#graySentence{
        font-size: 40px;
    }
    #graySentence{
        padding-bottom: 0px;
    }
    .textHolder{
        margin: 0 auto
    }
    .container{
        display:hidden;
    }
    
    #root{
        width: max-content;
    }
    #passwordButton{
      left: 85%; 
    }
  }